.columns {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  padding-left: var(--spaced-columns-gap);
  overflow-x: auto;

  /* TODO: vertical gap? */

  /*
   TODO: объединить с column-container.css то,
    что относится к содержанию колонок в Dashboard.
    также они (возможно) могут быть внутри полноэкранных модалок!
   */

  .column {
    width: var(--column-width);
    height: 100%;
    flex: 0 0 auto;
    transition: width 0.1s, transform 0.2s;
  }
}

.vkuiSplitCol--spaced .columns {
  column-gap: var(--spaced-columns-gap);
}
