.column {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  background-color: var(--background_content);
  font-size: 14px;

  .column-list-content {
    overflow-y: auto;
  }
}

.column-container {
  display: flex;
  flex-basis: var(--column-width);
  flex-flow: column wrap;
  flex-shrink: 0;
  border-right: 1px solid var(--input_border);
  border-left: 1px solid var(--input_border);
  overflow-x: hidden;

  .column {
    transform: translateX(calc(var(--column-width) * -1 * var(--index)));
  }
}
