.columns {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  overflow-x: auto;

  /* TODO: vertical gap? */

  /* TODO: объединить с column-container.css */
  .column {
    width: var(--column-width);
    height: 100%;
    flex: 0 0 auto;
    border-right: 1px solid var(--image_border);

    &:last-of-type {
      margin-right: var(--spaced-columns-gap);
    }
  }
}

.vkuiSplitCol--spaced .columns {
  column-gap: var(--spaced-columns-gap);

  .column {
    border-left: 1px solid var(--image_border);
  }
}
