.dropdown-menu-item {
  display: flex;
  min-height: 30px;
  align-items: center;
  padding: 0 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s;
  vertical-align: middle;

  &:hover {
    background: var(--action_sheet_separator);
  }
}
