.link-card {
  width: fit-content;
  margin: 6px 0 2px;

  &.vkuiCard--md-outline::before {
    border: var(--thin-border) solid var(--field_border);
  }

  .vkuiContentCard__body {
    padding: 8px 12px;
  }

  &.no-text .vkuiContentCard__body {
    padding: 6px 10px;
  }

  .vkuiCaption {
    display: flex;
    align-items: center;
    font-size: 0.7em;
    gap: 4px;
    opacity: 0.8;

    .vkuiIcon {
      opacity: 0.6;
    }
  }

  .vkuiTitle {
    font-size: 1em;
  }

  .vkuiText {
    font-size: 0.9em;
  }

  .vkuiText,
  .vkuiTitle {
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: normal;
  }
}
