.photo-popup {
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  pointer-events: none;

  .spinner-wrap {
    position: fixed;
    padding: 30px;

    .vkuiSpinner {
      color: var(--text_primary);
    }
  }

  .image-wrap {
    z-index: 2;

    img {
      max-width: 350px;
      max-height: 500px;
    }
  }
}

.media-grid {
  overflow: hidden;
  width: 100%;

  /* TODO: увеличивать высоту с шириной колонок */
  height: 130px;
  border: 1px solid var(--image_border);
  margin: 6px 0 2px;
  border-radius: 14px;

  .img {
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    float: left;
    vertical-align: top;

    &.has-more::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgb(0 0 0 / 55%);
      color: white;
      content: attr(data-text);
      font-size: 1.5em;
      font-weight: 700;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &:not(.media-grid-1) .img {
    border: 1px solid var(--image_border);
  }

  /* тут можно просто &-1, но webstorm это не переваривает 👍 */
  &.media-grid-1 {
    .img {
      width: 100%;
      height: 100%;
      outline: 1px solid var(--image_border);
    }
  }

  &.media-grid-2 {
    .img {
      width: 50%;
      height: 100%;
    }
  }

  &.media-grid-3 {
    .img {
      width: 50%;
      height: 50%;
    }

    .img:first-child {
      height: 100%;
    }
  }

  &.media-grid-4 {
    /* stylelint-disable-next-line no-descending-specificity */
    .img {
      width: 50%;
      height: 50%;
    }
  }

  &.media-grid-5 {
    /* stylelint-disable-next-line no-descending-specificity */
    .img {
      width: calc(100% / 3);
      height: 40%;
    }

    .img:first-child,
    .img:nth-child(2) {
      width: 50%;
      height: 60%;
    }
  }

  &.media-grid-6 {
    /* stylelint-disable-next-line no-descending-specificity */
    .img {
      width: calc(100% / 3);
      height: 50%;
    }
  }
}
