.media-badge {
  display: inline-flex;
  min-width: 0;
  align-items: center;
  padding: 4px 10px;
  border: 1px solid var(--field_border);
  margin: 7px 0 2px;
  background: var(--modal_card_background);
  border-radius: 8px;
  color: var(--text_primary);
  cursor: pointer;
  font-size: 13px;
  gap: 5px;

  b {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background: var(--background_hover);
  }

  & > * {
    opacity: 0.8;
  }
}
