.media-badge {
  display: inline-flex;
  min-width: 0;
  align-items: center;
  padding: 4px 10px;
  border: 1px solid var(--field_border);
  margin: 7px 0 2px;
  border-radius: 14px;
  color: var(--text_secondary);
  cursor: pointer;
  gap: 5px;

  b {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &:hover {
    background: var(--background_hover);
  }
}
