.navBar {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  border-right: var(--thin-border) solid var(--input_border);
  background-color: var(--background_content);

  svg {
    color: var(--accent);
  }

  .vkuiAvatar {
    margin: 4px 0 8px;
  }
}
