.navBar {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  background-color: var(--background_content);
  box-shadow: inset 0 0 0 var(--thin-border) var(--input_border);

  svg {
    color: var(--accent);
  }

  .vkuiAvatar {
    margin: 4px 0 8px;
  }
}
