.side-panel-container {
  position: absolute;
  z-index: -1;
  display: flex;
  overflow: hidden;
  width: var(--side-panel-width);
  height: 100%;
  flex-flow: column wrap;
  border-right: 1px solid var(--image_border);
  transform: translateX(calc(var(--side-panel-width) * -1));

  .side-panel {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 16px 15px 0;
    background-color: var(--modal_card_background);

    .vkuiFormItem {
      --formitem_padding: 0;
    }
  }
}
