.media-grid-size-settings {
  display: flex;
  align-items: start;
  gap: 8px;

  --media-size-select-color: #c4c4c4;

  svg {
    cursor: pointer;
  }

  .selected {
    --media-size-select-color: var(--accent);
  }
}
