.column-settings {
  transition: transform 0.2s, opacity 0.1s, max-height 0.2s;

  &.hidden {
    max-height: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-200%);
  }

  .vkuiFormLayout + .vkuiFormLayout .vkuiFormItem {
    padding-top: 0;
  }

  .column-actions {
    display: flex;
    justify-content: space-between;
    padding: 0 8px 4px;
    border-bottom: 1px solid var(--image_border);

    &:first-child {
      padding-top: 4px;
    }

    .move-buttons {
      display: flex;

      .vkuiIconButton {
        color: var(--accent);
      }
    }

    .control-buttons {
      display: flex;

      .delete-link {
        display: flex;
        align-items: center;
        gap: 4px;
      }
    }
  }
}
