@import '@vkontakte/vkui/dist/vkui.css';
@import '@vkontakte/vkui/dist/unstable.css';

/* Global overrides */

body {
  --modal-width: 270px;
  --column-width: 310px;

  background-color: var(--background_page);
}

.narrow-columns {
  --column-width: 270px;
}

.wide-columns {
  --column-width: 350px;
}

.vkuiPanel__in {
  height: 100%;
}

.vkuiSplitCol {
  --spaced-columns-gap: 0px;

  &--spaced {
    --spaced-columns-gap: 8px;

    margin: 0 var(--spaced-columns-gap);

    &:last-of-type {
      margin-right: 0;
    }
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(179 175 179 / 50%);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(179 175 179);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(143 141 143);
}
