@import '@vkontakte/vkui/dist/vkui.css';
@import '@vkontakte/vkui/dist/unstable.css';

/* Global overrides */

body {
  --modal-width: 270px;
  --column-width: 310px;
  --dropdown-background: rgb(255 255 255 / 90%);
  --link-background: hsl(0deg 0% 90% / 70%);
  --link-hover-background: hsl(0deg 0% 0%);
  --link-hover-color: white;

  background-color: var(--background_page);
  overflow-y: hidden;
}

body[scheme='vkcom_dark'] {
  --dropdown-background: rgb(51 51 51 / 90%);
  --link-background: rgb(64 64 64 / 50%);
  --link-hover-background: rgb(212 212 212);
  --link-hover-color: black;
}

.narrow-columns {
  --column-width: 270px;
}

.wide-columns {
  --column-width: 350px;
}

.vkuiPanel__in {
  height: 100%;
}

.vkuiSplitCol {
  --spaced-columns-gap: 0px;

  &--spaced {
    --spaced-columns-gap: 8px;

    margin: 0 var(--spaced-columns-gap);

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.column .vkuiFixedLayout {
  /* why */
  width: var(--column-width) !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgb(179 175 179 / 50%);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(179 175 179);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(143 141 143);
}
