@import '@vkontakte/vkui/dist/vkui.css';
@import '@vkontakte/vkui/dist/unstable.css';

html,
body {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: transparent !important;
  user-select: none;
}

.viewer {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(0 0 0 / 70%);

  .close-button {
    position: absolute;
    right: 0;
    padding: 20px;
    color: white;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s;

    &:hover {
      opacity: 1;
    }
  }

  .canvas {
    display: flex;
    height: 92%;
    flex-grow: 2;
    align-items: center;
    justify-content: center;

    .content {
      display: flex;
      height: 100%;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      padding: 40px;

      img {
        max-width: 100%;
        max-height: 100%;
        cursor: pointer;
        object-fit: contain;
      }
    }
  }

  .toolbar {
    display: flex;
    height: 8%;
    align-items: center;
    justify-content: space-around;
    background: rgb(40 40 40 / 82%);
    color: white;

    .owner {
      display: flex;
      align-items: center;
      gap: 16px;

      .text {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .name {
          font-weight: 600;
          opacity: 0.8;
        }

        .date {
          color: var(--text_secondary);
          font-size: 0.8em;
        }
      }
    }

    .counter {
      color: var(--text_secondary);
    }
  }
}
