.columns-container {
  margin: 0 !important;
  transition-duration: 200ms;

  .columns {
    transition: margin-right 0.2s;
  }

  &.side-panel-open {
    transform: translateX(var(--side-panel-width));

    .columns {
      margin-right: var(--side-panel-width);
    }
  }
}
