.columns-container {
  transition-duration: 200ms;

  .columns {
    transition: margin-right 0.2s;
  }

  &.modal-open {
    transform: translateX(var(--modal-width));

    .columns {
      margin-right: var(--modal-width);
    }
  }
}
