.add-column-modal {
  width: 100%;
  transition: transform 0.2s;

  &.second-screen-active {
    transform: translateX(calc(-1 * var(--modal-width)));
  }

  .column-type-selector {
    display: flex;
    flex-direction: column;
    margin-top: 5px;

    .column-title {
      font-weight: 500;
    }
  }
}
